<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>계좌 현황</title>
</head>
<body>

    <h1>계쫘현황</h1>

    <li th:each="account: ${accountList.userAccountDtoList}">
        <div class="account_cap">
            <span class="account_name" th:text="${account.bankName}"></span><br>
            <span class="account_num_masked" th:text="${account.accountNum}"></span>
            <span class="account_num_balance_amt" th:text="${account.balanceAmt}"></span>
        </div>
        <div>
            <button onclick="">주계좌 설정</button>
        </div>
    </li>

</body>
</html>